/* Import Fonts */
@font-face {font-family:'Baloo Bhai 2';src: url('fonts/BalooBhai2-VariableFont_wght.ttf');}
@font-face {font-family: 'Yanone Kaffeesatz';src: url('fonts/YanoneKaffeesatz-VariableFont_wght.ttf');}

/* All Variables */
:root{
    --prim-font:'Baloo Bhai 2';
    --nav-color:rgb(25,102,211);
    --prim-color:#3a3f44;
    --nav-title-font:'Yanone Kaffeesatz';
}

/* CSS reset*/
*{
    margin: 0;
    padding: 0;
    border-style: none;
}

/* Index.html */

/* Navbar-box */

#navbar{
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    justify-content: space-between;
}

#title{
    display: flex;
    align-items: center;
}

/* navbar-img */
#navbar img{
    width: 95px;
    height: 80px;
    margin-left :20px;
    mix-blend-mode: color-burn;
}

#navbar img:hover{cursor:pointer;}

/* navbar-title */
#title div{
    color: white;
    font-family: var(--nav-title-font);
    font-size: 2.0rem;
}

#title div:hover{cursor:pointer;}

/* navbar-links-item-container */
#navbar ul{
    display:flex;
    list-style-type: none;
    margin: auto;
    flex-wrap:wrap;
    padding: 0;
    justify-content: center;
}

/* navbar-links-item-container */
#navbar ul li{
    font-size: 1.5rem;

}

/* navbar-link-item */
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-family: var(--prim-font);
    padding: 0px 50px;
}

#navbar ul li a:hover{
    text-decoration: underline;
}

/* user-buttons */
#navbar a button {
    background-color: white;
    margin:0px 10px;
    padding:3px 19px;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 1.1rem;
    font-family: var(--prim-font);
    color: var(--nav-color);
    text-decoration: none;
}

#navbar a button:hover{
    transition-duration: 0.27s;
    cursor: pointer;
    color:white;
    background-color: black;
}


/*  NAVBAR ENDS  */

/*  POPULAR SHOWS */
#pop-show-heading{
    font-size: 40px;
    font-family: var(--prim-font);
    font-weight: bolder;
    color:white;
    display: block;
    text-align: center;
}

/* The Horizontal ruler*/
#pop-show-heading-divider{
    border:2px solid white;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
}

/* Parent Container */
.popshow-container{
    background-color: var(--prim-color);
    padding-top: 40px;
}

/* container which contains the title-blocks*/
.popshow-title-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*  Image of Title  */
.popshow-title-container div img{
        width: 200px; /* Adjust the width to your desired size */
        height: 300px; /* Adjust the height to your desired size */
        margin: 20px 10px;
}

.popshow-title-container div img:hover{
    transition-duration:0.4s;
    cursor:pointer;
    box-shadow: 5px 5px 10px 5px black;
}

/*  Title Block : Container of a title and its name */
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

/*  Title Block : Name of the title */
.title-container div{
    font-size: 25px;
    font-family: var(--prim-font);
    font-weight: bolder;
    color: white;
}

.title-container div:hover{
    cursor:pointer;
}

/* POPULAR SHOWS END*/

/* PLANS */

#plan-heading{
    font-size: 40px;
    font-family: var(--prim-font);
    font-weight: bolder;
    color:var(--prim-color);
    margin-top: 60px;
    text-align: center;
}

/* The Horizontal ruler*/
#plans-heading-divider{
    border:2px solid var(--prim-color);
    background-color: var(--prim-color);
    border-radius: 10px;
    width: 20%;
    margin: auto;
    margin-bottom: 70px;
}

/* Parent Container:contains plan boxes */
.plans-container-parent{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 100px;
}

/* Plan container:contains the individual plans */
.plans-container{
    box-sizing: border-box;
    margin: 20px 50px;
    padding: 20px 40px;
    padding-bottom: 30px;
    border: 3px solid var(--prim-color);
    border-radius: 15px;
    width: 290px;
    box-shadow: 5px 5px 10px 1px  #888888 ;
    font-family:var(--prim-font);
    color: var(--prim-color);
}

.plans-container:hover{
    transition-duration:0.25s;
    cursor:pointer;
    background-color: var(--prim-color);
    color: white;
}

/* Heading Of Plans */

#planbox-heading{
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

/* PRICE of plans */
#planbox-cost{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 60px;
    color:black;
}

/* list container of specefication */
.plans-container ul{
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}

/* individual specs  */
.plans-container ul li{
    margin: 5px 0px;
}

/* Blur When hovering over Plans*/
.plans-container-parent:hover .plans-container{
    filter: blur(20px);
    transform: scale(.9);
    opacity:.5;
}
.plans-container-parent .plans-container:hover{
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}
/* PLANS ENDS  */

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    width:100%;
}

footer img{
    height:50px;
    width: 50px;
    margin-left: 20px;
    aspect-ratio: 3/2;
    object-fit:contain;
    mix-blend-mode: color-burn;
}

footer div{
    color: white;
    font-family:var(--nav-title-font);
    font-size: 1.5rem;
}

footer img,footer div:hover{
    cursor: pointer;
}

footer ul{
    display:flex;
    list-style: none;
    margin-left: 100px;
}

footer ul li{
    padding : 0px 20px;
}

footer ul li a{
    text-decoration: none;
    color:white;
    font-family: var(--prim-font);
    font-weight: bold;
}

footer ul li a:hover{
    text-decoration: underline;
}

/* Media Query For Index.html */
@media screen and (max-width:1135px) {
    #navbar{
        flex-direction:column;
        height: auto;
    }

    #title{
        position: relative;
        right:150px;
    }
    
    #navbar ul li a{
        padding:0px 20px;
    }


    #login-btn{
        position: relative;
        left:150px;
        bottom:85px;
    }
}

@media screen and (max-width:730px) {
    .misc-links{
        margin-left:5px;
    }

    .misc-links li a{
        font-size:10px;
    }
}

@media screen and (max-width:590px) {
    #login-btn{
        position: relative;
        left:200px;
        bottom:85px;
    }

    .misc-links li{
        padding :0px 10px;
    }
}

@media screen and (max-width:480px){

    #title{
        position: relative;
        right:100px;
    }

    #navbar ul li{
        font-size:1rem;
    }

    #login-btn{
        position: relative;
        left:50px;
        bottom:80px;
        font-size:0.5rem;
        order: 2;
    }
    
    .misc-links li a{
        font-size:6px;
    }

    #pop-show-heading{
        font-size:30px;
    }

    .popshow-titles-container div img{
        height:210px;
        width:350px;
    }
    
}

@media screen and (max-width:390px){

    #navbar img{}


    .popshow-titles-container div img{
        height:120px;
        width:260px;
    }

    #navbar a button{
        padding:3px 10px;
        margin:0px 0px;
        font-size: 0.8rem;
    }

    #login-btn{
        top:-100px;
    }

    #navbar ul li{
        font-size : 0.8rem;
    }

    footer img{
        margin-left:0px;
        height:40px;
        width:30px;
    }

    footer div{
        font-size:1rem;
    }

    .plans-container{
        margin:10px 0px;
        padding: 15px 30px;
        width:280px;
    }
}
